// COLORS
$main1: #094074;
$main2: #3c6997;
$main3: #5adbff;
$main4: #ffdd4a;
$main5: #fe9000;

$font-size-root: 62.5%;
$font-size-base: 1.6rem;
$form-label-font-size: 1.4rem;
$form-label-font-weight: 600;
$form-label-color: #333333;
$input-font-size: 1.6rem;
$input-bg: #fafafa;
